.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}



.btn-vaciar{
    margin: 10px;
    width: 50%;
    height: 20%;
    background-color: rgb(39, 39, 39) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-pedido{
    margin: 10px;
    width: 80%;
    height: 60%;
    background-color: rgb(39, 39, 39) !important;
    color: rgb(255, 255, 255) !important;
}

.carro-vacio{
    text-align: center;
    margin-top: 5%;
}